extends layout


block content

    h1 hello00
    h2 #{passName}
    h2 #{passUser}
   
    //- table
    //-   tr Wb1
    //-   | {{finaldata.projectName}}
    //-   tr wb2
    //-   | {{finaldata.projectId}}
    //-   tr wb3
    //-   | {{finaldata.user}}